@import "../variables.module.css";
@import "../colors.module.css";

.button {
  background: none;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  color: var(--accent-color);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.2s var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-light);
}

.button:last-child {
  margin-right: 0;
}

.buttonPrimary {
  background-color: var(--accent-color);
  color: var(--white);
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: var(--accent-color-darker);
}
