@import "../variables.module.css";

.form {
  font-size: var(--font-size-normal);
}

.heading {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
}

.buttonsContainer {
  display: flex;
}
