@import "../colors.module.css";
@import "../variables.module.css";

.habitLink {
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s var(--timing-function);
}

.habitLink:hover,
.habitLink:focus {
  color: var(--accent-color);
}
