@import "../colors.module.css";
@import "../variables.module.css";

:root {
  /* --cell-size: 45.7px; */
  /* --cell-spacing: 0; */
}

.container {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.calendarWrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin: 0;
}

.calendar {
  overflow: hidden;
}

.slider {
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  /* margin: 0 - (var(--cell-spacing)); */
}

.column {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: var(--font-size-tiny);
}

.cell {
  text-align: center;
  /* line-height: var(--cell-size); */
  /* width: var(--cell-size);
  height: var(--cell-size); */
  /* margin: var(--cell-spacing); */
  background-color: var(--gray-lighter);
  border: 2px solid var(--white);
  cursor: pointer;
}

.cell:hover {
  color: var(--white);
  background-color: var(--accent-color);
  transition: background-color 0.3s var(--timing-function),
    color 0.3s var(--timing-function);
}

.cellHeading {
  composes: cell;
  border-color: transparent;
  font-weight: var(--font-weight-bold);
  background-color: transparent;
}

.cellHeading:hover {
  color: initial;
  background-color: transparent;
}

.cellActive {
  composes: cell;
  color: var(--white);
  background-color: var(--accent-color);
}

.button {
  background-color: blue;
}
