@import "./colors.module.css";

:root {
  --base-font-size: 62.5%; /* 10px */
  --font-family-primary: "Lato", sans-serif;

  --font-size-small: 1.4rem;
  --font-size-normal: 1.6rem;
  --font-size-medium: 1.7rem;
  --font-size-big: 1.8rem;
  --font-size-huge: 2.4rem;
  --font-size-heading: 2.4rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --text-color: var(--black);

  --border-radius: 0.4rem;
  --timing-function: cubic-bezier(0, 0, 0.2, 1);

  --wrapper-max-width: 100rem;
}
