.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}

.row {
  background-color: #e8e8e8;
}

.cell {
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 1.5rem;
}

.cell:first-child {
  text-align: left;
  width: 100%;
}
