@import "../colors.module.css";
@import "../variables.module.css";

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}

.row {
  background-color: var(--gray-lighter);
}

.cell {
  text-align: center;
  vertical-align: middle;
  padding: 1.5rem;
}

.cell:first-child {
  padding-left: 2rem;
  text-align: left;
  width: 100%;
}
.cell:last-child {
  padding-right: 2rem;
}
