@import "../colors.module.css";
@import "../variables.module.css";

.table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: separate;
}

.row {
  background-color: var(--white);
}

.cell {
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  border-bottom: 1px solid var(--gray-lighter);
  border-top: 1px solid var(--gray-lighter);
}

.cell:first-child {
  padding-left: 2rem;
  text-align: left;
  width: 100%;
}
.cell:last-child {
  padding-right: 2rem;
}
th.cell {
  border-top: 0;
  padding-bottom: 1.5rem;
}
