@import "../colors.module.css";
@import "../variables.module.css";

.button {
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

[data-whatintent="keyboard"] .button:focus .iconFocus {
  color: var(--accent-color);
}
